.form-inline {
    width: 100%;
    justify-content: center;
}

.btn-group {
    width: 100%;
    position: relative;
    transform-origin: 0;
    transform: scale(1);
}

.activityList {
    background-color: lightgrey;
    height: auto;
    width: 100%;
    padding:0;
    border-radius: 8px;
}

.list-container {
    padding: 0.5em;
    width: 100%;
    justify-content: center;
    align-content:center;
}

.menuButton {
    border-style: solid;
    color: white;
    font-size: 88%;
    height: 40px;
    width: 20%;
}
