footer {
    padding: 5.5em;
    background-color: #3b945e;
}

.copyright {
    overflow: hidden;
}

.copyright p {
    letter-spacing: 0.15em;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    width: 100%;
}

.copyright a {
    color: #fff;
}
