.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3b945e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********************************************************************************/

/* Media 375px                                                                   */

/*********************************************************************************/

@media (min-width: 375px) {
  /*<-------------------------Element For all Page------------------------------>*/
  * {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c;
  }
  p {
    line-height: 180%;
    font-size: 12pt;
    width: 80%;
    word-wrap: break-word;
  }
  h1 {
    margin: 0.15em;
    padding: 0;
    line-height: 180%;
    font-weight: 600;
    color: #454445;
  }
  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    font-weight: 600;
    color: #454445;
  }
  h3 {
    margin: 0.3em;
    padding-top: 0.3em;
    font-weight: 300;
    font-size: 1em;
    color: #454445;
    text-align: center;
  }
  a:hover {
    text-decoration: none;
  }
  #wrapper {
    background: #fff;
  }
  .row,
  .result {
    margin-left: 15px;
    margin-right: 15px;
  }
  ol,
  ul {
    padding: 0;
    list-style: none;
  }
  /*<-------------------------All Container------------------------------>*/
  .list-container {
    padding: 0.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    padding: 5.5em;
  }
  .flex-container {
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
    padding: 0 0px;
  }
  .flex-item-1 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .flex-item-2 {
    margin-bottom: 10px;
  }
  .flex-item-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /*<-------------------------Footer------------------------------>*/
  footer {
    background-color: #3b945e;
  }
  .copyright {
    overflow: hidden;
  }
  .copyright p {
    letter-spacing: 0.15em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: white;
    width: 100%;
  }
  .copyright a {
    color: white;
  }
  .close {
    text-align: center;
    height: 1.15em;
    width: 1.15em;
    border-radius: 50px;
    position: relative;
    background-color: white;
    color: #3b945e;
    top: -12px;
    left: -30px;
    border: 1px solid lightgray;
    font-weight: 600;
  }
  .close:hover {
    background-color: #3b945e;
    color: white;
    cursor: pointer;
  }
  /*<------------------------------------Header------------------------------>*/
  #header {
    position: relative;
    padding-bottom: 4em;
    padding-top: 4em;
    height: auto;
    text-align: center;
  }
  #logo {
    position: relative;
    bottom: 2em;
    width: 100%;
  }
  #logo h1 {
    display: inline-block;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }
  #logo a {
    text-decoration: none;
    color: #fff;
  }
  /*<---------------------------------------Menu------------------------------>*/
  #menu {
    position: absolute;
    width: 100%;
  }
  #menu ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
  }
  #menu li {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  #menu .current_page_item {
    background: #3b945e;
    color: #fff;
  }
  /*<-------------------------app description/people image------------------------------>*/
  .flex-item-1,
  .flex-item-2,
  #pg1 {
    align-content: center;
    width: 100%;
    align-items: center;
  }
  .app-description {
    text-align: left;
    align-content: center;
    width: 100%;
    padding: 2em;
  }
  .articleLink {
    color: #068900;
  }
  #people {
    width: 100%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    align-content: center;
    align-self: center;
    padding: 2em;
  }
  /*<-------------------------Activity Center------------------------------>*/
  .categorylink {
    color: white;
  }
  /*<-------Search Box-------->*/
  .flex2-item-1 {
    align-content: right;
    width: 100%;
  }
  .form-inline {
    justify-content: center;
    width: 100%;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #81cc9e;
    border-width: 3px;
    float: left;
    width: 91%;
    height: 40px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }
  button[type="submit"] {
    float: left;
    outline: none;
    width: 9%;
    height: 40px;
    padding: 5px;
    background: #81cc9e;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #81cc9e;
    align-content: center;
  }
  .fa.fa-search {
    zoom: 1;
    vertical-align: center;
  }
  button[type="submit"]:hover {
    background: #3b945e;
  }
  #submit {
    margin-right: 0;
  }
  #searchBar {
    margin-bottom: 65px;
  }
  /*<-------Category Selection-------->*/
  .btn-group {
    cursor: pointer;
    width: 100%;
  }
  .menuButton {
    background-color: #81cc9e;
    border-color: #81cc9e;
    border-style: solid;
    color: white;
    font-size: 55%;
    height: 40px;
    width: 20%;
    font-weight: bolder;
  }
  #option1 {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #option5 {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .active {
    background-color: #3b945e !important;
    color: white;
  }
  .menuButton:hover {
    background-color: #3b945e !important;
    color: white;
  }
  .activityIcon {
    width: 30px;
    height: 30px;
    margin: 0.5em;
  }
  .activityList {
    background-color: lightgrey;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 8px;
  }
  #pg2-1,
  #pg2-2 {
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .flex-activity-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    height: 45px;
    margin: 0.5rem;
    background-color: white;
    border-radius: 8px;
    display: block;
    align-items: center;
  }
  .flex2-item-1-1 {
    align-content: center;
    align-items: center;
  }
  .flex-activity-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #81cc9e;
  }
  .flex2-item-1 h2 {
    text-align: center;
  }
  .flex2-item-1 p {
    text-align: center;
    width: 100%;
  }
  #allRows {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  /*<-------------------------My Activity------------------------------>*/
  .dropzone {
    background-color: lightgrey;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
  }
  .my-activity-row {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 0 0;
  }
  .flex3-item1-1 {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  section.flex3-item-1 p {
    width: 100%;
  }
  .flex-my-activity-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 100%;
    height: 125px;
    margin: 0.5rem;
    background-color: white;
    border-radius: 8px;
    display: block;
    justify-content: center;
  }
  p.calculation-description {
    text-align: left;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
  }
  div.col.button-col {
    text-align: right;
  }
  .calculator-row {
    width: 92%;
    align-content: center;
    justify-content: center;
  }
  #calculate-btn {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    align-content: center;
  }
  #calculate {
    margin-top: 0.3em;
    height: 43px;
    width: 100%;
  }
  .col-3.icon {
    padding: 0;
  }
  /*<-------------------------Result------------------------------>*/
  .result {
    background-color: lightgrey;
    height: 540px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-content: center;
  }
  #carbon-level-title {
    padding-top: 25px;
  }
  #carbon-level-low {
    /* color should follow carbon level color */
    color: #63a64d;
    margin-top: 10px;
  }
  #carbon-level-low-moderate {
    /* color should follow carbon level color */
    color: #ffc106;
    margin-top: 10px;
  }
  #carbon-level-moderate {
    /* color should follow carbon level color */
    color: orange;
    margin-top: 10px;
  }
  #carbon-level-moderate-high {
    /* color should follow carbon level color */
    color: #f56733;
    margin-top: 10px;
  }
  #carbon-level-high {
    /* color should follow carbon level color */
    color: #dc3546;
    margin-top: 10px;
  }
  .flex4-item-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 20px;
  }
  .flex4-item-1 h3 {
    font-size: 20pt;
    padding-top: 0.5em;
  }
  .flex4-item-2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #result-description {
    font-size: 10pt;
    padding: 1.5rem;
    padding-top: 40px;
    width: 100%;
  }
  .contain-result {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 85%;
    height: 210px;
    margin: 0.7rem;
    background-color: white;
    border-radius: 8px;
    display: block;
    margin-left: 10%;
  }
  .progress-bar-container {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  div#moderate-high.progress-bar {
    background-color: #f56733 !important;
    height: 30px !important;
    font-size: 7px !important;
    width: 20%;
  }
  div#moderate.progress-bar {
    background-color: orange !important;
    height: 30px !important;
    font-size: 7px !important;
    width: 20%;
  }
  div#high.progress-bar {
    height: 30px !important;
    font-size: 7px !important;
    width: 20%;
  }
  div#low.progress-bar {
    height: 30px !important;
    background-color: #63a64d !important;
    font-size: 7px !important;
    width: 20%;
  }
  div#low-moderate.progress-bar {
    height: 30px !important;
    font-size: 7px !important;
    width: 20%;
  }
  .progress {
    height: 30px !important;
    font-size: 7px !important;
  }
  .lowcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinLow;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinLow {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 25%;
      margin-left: 8.5%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
  }
  .lowModeratecarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinlowM;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinlowM {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 28%;
      width: 0;
      border-bottom: 15px solid #ffc106;
    }
  }
  .moderatecarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinMod;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinMod {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 47%;
      width: 0;
      border-bottom: 15px solid orange;
    }
  }
  .moderateHighcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinModH;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinModH {
    from {
      margin-left: 0%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 66.5%;
      width: 0;
      border-bottom: 15px solid #f56733;
    }
  }
  .highcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinH;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinH {
    from {
      margin-left: 0%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 84%;
      width: 0;
      border-bottom: 15px solid #dc3546;
    }
  }
  /*<-------------------------About Page------------------------------>*/
  .profile {
    height: 12em;
    width: 12em;
    background-repeat: no-repeat;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .name {
    margin-bottom: 10px;
    font-size: 20pt;
  }
  .list {
    font-size: 13pt;
  }
  .col {
    text-align: center;
    padding-left: 0em;
    margin-top: 0.3em;
  }
  .contact {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
  }
  .flex-item-4 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0;
  }
  .flex-item-5 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0;
  }
  .flex-item-6 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0;
  }
  .pg1-about,
  .info {
    justify-content: center;
    align-content: center;
  }
  /*<-------------------------Additional Menu Items------------------------------>*/
  #menu li,
  #menu li span {
    cursor: pointer;
    display: inline-block;
    outline: none;
    letter-spacing: 0.2em;
    width: 33%;
    line-height: 57px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
  }
  #menu li:hover,
  #menu li.active,
  #menu li.active span {
    background: #3b945e;
    color: #fff;
  }
}

/*********************************************************************************/

/* media 768px                                                                   */

/*********************************************************************************/

@media (min-width: 768px) {
  body {
    font-size: 12pt;
    letter-spacing: 0.05em;
  }
  p {
    font-size: 12pt;
  }
  h1 {
    margin-bottom: 0;
    line-height: 100%;
  }
  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    font-weight: 600;
    color: #454445;
  }
  h3 {
    margin: 0.3em;
    padding-top: 0.3em;
    font-weight: 300;
    color: #454445;
    text-align: center;
  }
  .row,
  .result {
    margin-left: 20px;
    margin-right: 20px;
  }
  ol,
  ul {
    padding: 0;
    list-style: none;
    white-space: nowrap;
  }
  /*<------------------------------------Header------------------------------>*/
  #header {
    position: relative;
    padding-bottom: 3.8em;
    padding-top: 4em;
    height: auto;
    text-align: center;
  }
  /*<-------------------------Activity Center------------------------------>*/
  .form-inline {
    width: 100%;
    justify-content: center;
  }
  .btn-group {
    width: 100%;
    position: relative;
    transform-origin: 0;
    transform: scale(1);
  }
  .activityList {
    background-color: lightgrey;
    height: auto;
    width: 100%;
    padding: 0;
    border-radius: 8px;
  }
  .list-container {
    padding: 0.5em;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .menuButton {
    background-color: #3b945e;
    border-color: #3b945e;
    border-style: solid;
    color: white;
    font-size: 88%;
    height: 40px;
    width: 20%;
  }
  /*<-------------------------My Activity----------------------------->*/
  .dropzone {
    background-color: lightgrey;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    align-content: center;
  }
  .flex-my-activity-item {
    width: 95%;
    height: 120px;
    margin: 0.7rem;
    display: block;
    margin-left: 0;
  }
  .calculator-row {
    width: 95%;
  }
  /*<-------------------------Result-------------------------------------->*/
  .result {
    background-color: lightgrey;
    height: 275px;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  #result-description {
    padding: 1em;
  }
  .contain-result {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 90%;
    height: 210px;
    margin: 0.7rem;
    background-color: white;
    border-radius: 8px;
    display: block;
  }
  div#moderate-high.progress-bar {
    font-size: 10px !important;
  }
  div#moderate.progress-bar {
    font-size: 10px !important;
  }
  div#high.progress-bar {
    font-size: 10px !important;
  }
  div#low.progress-bar {
    font-size: 10px !important;
  }
  div#low-moderate.progress-bar {
    font-size: 10px !important;
  }
  .progress {
    font-size: 10px !important;
  }
  .lowcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinLow;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinLow {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 25%;
      margin-left: 10%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
  }
  .lowModeratecarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinlowM;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinlowM {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 28%;
      width: 0;
      border-bottom: 15px solid #ffc106;
    }
  }
  .moderatecarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinMod;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinMod {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 49%;
      width: 0;
      border-bottom: 15px solid orange;
    }
  }
  .moderateHighcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinModH;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinModH {
    from {
      margin-left: 0%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 68%;
      width: 0;
      border-bottom: 15px solid #f56733;
    }
  }
  .highcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinH;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinH {
    from {
      margin-left: 0%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 87.5%;
      width: 0;
      border-bottom: 15px solid #dc3546;
    }
  }
  /*<-------------------------About Page-------------------------------------->*/
  .flex-item-4 {
    padding-bottom: 0;
    margin-left: 0;
    width: 100%;
  }
  .flex-item-5 {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    width: 100%;
  }
  .flex-item-6 {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    width: 100%;
  }
  /*<----------------------------Additional Menu Items------------------------------>*/
  #menu li,
  #menu li span {
    line-height: 60px;
    text-decoration: none;
    font-size: 1.2em;
  }
}

/*********************************************************************************/

/* media 1200px                                                                  */

/*********************************************************************************/

@media (min-width: 1200px) {
  /*<------------------------------------Header------------------------------>*/
  #menu {
    width: 45%;
    margin-left: 55%;
    font-size: 10pt;
  }
  #logo {
    width: 45%;
  }
  h3 {
    margin-left: 1em;
    font-size: 0.9em;
  }
  p {
    font-size: 11pt;
    width: 100%;
  }
  .row,
  .result {
    margin-left: 10px;
    margin-right: 10px;
  }
  /*<-------------------------Activity Center------------------------------>*/
  .categorylink {
    color: white;
  }
  /*<-------Search Box-------->*/
  .form-inline {
    width: 100%;
    justify-content: center;
  }
  /*<-------Category Selection-------->*/
  .activityList {
    background-color: lightgrey;
    height: 308px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 8px;
  }
  .menuButton {
    background-color: #3b945e;
    border-color: #3b945e;
    border-style: solid;
    color: white;
    font-size: 90%;
    height: 40px;
    width: 20%;
  }
  .flex-activity-item {
    width: 90%;
  }
  .col-xl-6 {
    justify-content: center;
    align-content: center;
  }
  /*<-------------------------My Activity------------------------------>*/
  .list-container {
    justify-content: center;
    align-content: center;
  }
  .dropzone {
    background-color: lightgrey;
    height: 300px;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .my-activity-row {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-right: 0;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #3b945e;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .flex-my-activity-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 90%;
    height: 125px;
    margin: 0.5rem;
    background-color: white;
    border-radius: 8px;
    display: block;
    justify-content: center;
  }
  p.calculation-description {
    text-align: left;
    padding-left: 20px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-top: 5px;
  }
  div.col.button-col {
    text-align: right;
  }
  #calculate {
    margin-top: 0.3em;
    height: 70px;
    width: 95px;
  }
  div.col-3.icon {
    padding: 0;
  }
  .flex3-item-1 {
    margin-left: 15px;
  }
  /*<-------------------------Result------------------------------>*/
  .progress-bar-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  div#moderate-high.progress-bar {
    font-size: 12px !important;
  }
  div#moderate.progress-bar {
    font-size: 12px !important;
  }
  div#high.progress-bar {
    font-size: 12px !important;
  }
  div#low.progress-bar {
    font-size: 12px !important;
  }
  div#low-moderate.progress-bar {
    font-size: 12px !important;
  }
  .progress {
    font-size: 12px !important;
  }
  #result-description {
    font-size: 12pt;
    padding-top: 40px;
  }
  .lowcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinLow;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinLow {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 25%;
      margin-left: 14%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
  }
  .lowModeratecarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinlowM;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinlowM {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 31%;
      width: 0;
      border-bottom: 15px solid #ffc106;
    }
  }
  .moderatecarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinMod;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinMod {
    from {
      margin-left: 0%;
      margin-left: 0;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 49%;
      width: 0;
      border-bottom: 15px solid orange;
    }
  }
  .moderateHighcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinModH;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinModH {
    from {
      margin-left: 0%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 66.5%;
      width: 0;
      border-bottom: 15px solid #f56733;
    }
  }
  .highcarbonArrow {
    width: 0;
    height: 25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid transparent;
    animation-duration: 2.5s;
    animation-name: slideinH;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideinH {
    from {
      margin-left: 0%;
      width: 0;
      border-bottom: 15px solid #63a64d;
    }
    to {
      margin-right: 100%;
      margin-left: 84%;
      width: 0;
      border-bottom: 15px solid #dc3546;
    }
  }
  /*<-------------------------About Page-------------------------------------->*/
  .flex-item-4 {
    padding: 0;
  }
  .flex-item-5 {
    padding: 0;
  }
  .flex-item-6 {
    padding: 0;
  }
}

.about-secion {
  flex: 0 1 calc(16.7%);
  margin: auto;
}

.about-secion-container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

/*<----------------------------------Resource--------------------------------------->*/

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* html {
  background-color: #ecf9ff;
} */

.main-resource {
  margin-left: 3rem;
}

body-resource {
  color: #272727;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main-resource {
  max-width: 1200px;
  margin: 0 auto;
}

h1-resource {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img-resource {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* .btn-resource  {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn-resource:hover {
  background-color: rgba(255, 255, 255, 0.12);
} */

.main-resource {
  margin-left: 65px;
  margin-top: 30px;
}
.cards-resource {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 4rem;
}

.cards_item-resource {
  display: flex;
  padding: 1rem;
}
@media (min-width: 15rem) {
  .cards_item-resource {
    width: 100%;
  }
}
@media (min-width: 30rem) {
  .cards_item-resource {
    width: 100%;
  }
}

@media (min-width: 56rem) {
  .cards_item-resource {
    width: 33.3333%;
  }
}

.card-resource {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

.card_content-resource {
  padding: 1rem;
  background: #3b945e;
}

.card_title-resource {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text-resource {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.youtube {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 550px;
}
@media (max-width: 798px) {
  .youtube {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 400px;
  }
}
